bitsandbytes==0.39.0
accelerate
deepspeed
scipy
sentencepiece
datasets
evaluate
pytest
scikit-learn
torch
torchvision
tensorboard
torch>=2.0.1
accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
peft
transformers>=4.34.1
sentencepiece
py7zr
scipy
optimum
matplotlib
gradio
fastapi
uvicorn